@charset "UTF-8";

header.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    color: black;
    /* background-image: url("../assets/img/header-bg.jpg"); */
    background-color: #f8e7d5 ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

.mastheadLogo{
    max-width: 50%;
    margin-bottom: 3rem;
}

/* NAVBAR LOGO  */
#mainNav .navbar-brand img {
    height: 2rem;
  }
  /* 滾動後 NAVBAR 顏色 */
  #mainNav.navbar-shrink {
    background-color: #f8e7d5;
  }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 3.5rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      background-color:  #f8e7d5;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 2rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }




@media  (max-width: 768px) {
    .mastheadLogo{
        max-width: 75%;
    }
    header.masthead{
        padding-top: 10rem;
    }
}

@media (min-width: 768px){
    header.masthead {
        padding-top: 10rem;
        padding-bottom: 12.5rem;
      }
}


/* timeline 之 敬請期待 */
.timeline > li .timeline-image.text-box {
line-height: 73px;
}
  @media (min-width: 768px){
    .timeline > li .timeline-image.text-box {
      line-height: 93px;
      }
  }

  @media (min-width: 992px){
    .timeline > li .timeline-image.text-box {
      line-height: 143px;
      }
  }

  @media (min-width: 1200px){
    .timeline > li .timeline-image.text-box {
      line-height: 163px;
      }
  }

  .timeline > li .timeline-image .text-content {
    display: inline-block;
    height: auto;
    line-height:1;
    vertical-align: middle;
    font-size: 1rem;
}

@media (max-width : 768px){
  h3, .h3{
    font-size: 1rem;
  }
}